@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h6{
    margin-left: 24px;
    font-size: 20px;
}

h2{
    font-size: 12px;
}

.espaçotopo{
    height: 66px;
}

.topo{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3CFD9;
    color: #E8833A;
    font-size: 34px;
    font-weight: 400;
    width: 100%;
    height: 66px;
   
    top: 0;
}

.sub-topo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    color: #293845;
    font-size: 24px;
}

.movieBox{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 145px;
    height: 209px;
    margin-bottom: 20px;
}

.movieBox > img{
    object-fit: cover;
    width: 128px;
    height: 192px;
}

.hourContainer{
    display: flex;
    margin-top: 22px;
    margin-left: 24px;
}

.hourBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8833A;
    color: #ffffff;
    width: 82px;
    height: 42px;
    margin-right: 8px;
    margin-bottom: 24px;
}

.espaçofooter{
    height: 118px;
}

footer{
    position:fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 118px;
    border: 1px solid #9EADBA;
    background-color: #9EADBA;

    bottom:0;
}

.footerImgBox{
    margin-left: 10px;
    margin-right: 14px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 64px;
    height: 88px;
}

.footerImgBox > img{
    object-fit: cover;
    width: 48px;
    height: 72px;
}

.content > .seats{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seats{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 24px;
    width: 86%;
    height: 27%;
}

.seat{
    cursor: pointer;
    border: solid 1px #808F9D;
    font-size: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3CFD9;
    color:#000000;
    border-radius: 50%;
    width: calc(16% - 8%);
    height: 24px;
    margin-right: 6px;
    margin-bottom: 16px;
}

.seat.indisponivel{
    background-color: #FBE192;
    border: solid 1px #F7C52B;
}

.seat.selected{
    background-color: #8DD7CF;
    border: solid 1px #45BDB0;
}

.statusBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subBar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.subBar > .seat{
    width: 24px;
    height: 24px;
}

.inputBox{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
    height: 50px;
    margin-bottom: 6px;
    border: solid 1px #D4D4D4;
    padding-left: 10px;
    font-size: 18px;
}

@media (min-width:490px){
    .seat{
        width: calc(16% - 8%);
        height: 34px;
    }
}

@media (min-width:620px){
    .seat{
        width: calc(16% - 7% - 5px);
        height: 48px;
    }
}

@media (min-width:840px){
    .seat{
        height: 66px;
    }
}

@media (min-width:1000px){
    .seat{
        height: 78px;
    }
}

@media (min-width:1200px){
    .seat{
        width: calc(16% - 7%);
        height: 108px;
    }
}